/* Global Styles */

body {
  font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
  }
  
  a {
    color: #337ab7;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
div{
  margin-bottom: 50px;
}
/* Header Styles */

header {
    background-color: #bdbdbd;
    color: #fff;
    padding: 20px;
    position: fixed; /* Updated property */
    top: 0; /* Updated property */
    width: 100%; /* Updated property */
    z-index: 1; /* Updated property */
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start; /* Updated property */
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
  }
  
  nav a:hover {
    color: #f1f1f1;
  }
  
  /* Main Styles */
  
  main {
    max-width: 1000px;
    margin: 100px auto 20px; /* Updated property */
    padding: 0 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  /* Styles for the header image */

.header {
  position: relative;
}

.header img {
  width: 100%;
  opacity: 0.5;

}

.header h1 {
  position: absolute;
  top: 30%;
  margin: 0;
  font-size: 48px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,1.0);
  background-color: rgba(0, 0, 0, 0.5);

}
  h1 {
    font-size: 36px;
    margin: 0 0 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  h2{
    text-align: center;
  }
  
  p {
    margin: 0 0 20px;
    margin-bottom: 70px;
    text-align: justify;
    text-justify: inter-word;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  .video-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

  }

  
  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
  /* Responsive Styles */
  
  @media screen and (max-width: 767px) {
    header {
      padding: 10px;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav li {
      margin: 10px 0;
    }
  
    main {
      padding: 0 10px;
    }
  }
  /* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
.row1 {
  display: flex;
  justify-content: center;
  
}

/* Three columns side by side */
.column1 {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
  margin: auto auto;
  text-align: center; 
  height: 150px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 8px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #6b6b6b;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}