<div class="services">
    <div class="sub">
        <h4>Program Committee</h4>
        <ul>
            <li>AAAI 2026</li>
            <li>IEEE VR 2026</li>
            <li>IEEE ISMAR 2025</li>
        </ul>
    </div>
    
    <div class="sub">
        <h4>Conference Paper Reviewer</h4>
        <ul>
            <li>SIGGRAPH 2023, 2024, 2026; SIGGRAPH Asia 2023, 2025</li>
            <li>CHI 2024, UIST 2023</li>
            <li>Pacific Graphics 2023</li>
            <li>IEEE VR 2018, 2019, 2026</li>
            <li>IEEE ISMAR 2026</li>
            <li>IROS 2024</li>
        </ul>
    </div>

    <div class="sub">
        <h4>Journal Paper Reviewer</h4>
        <ul>
            <li>ACM Transactions on Graphics 2023, 2025</li>
            <li>IEEE Transactions on Visualization and Computer Graphics 2024, 2026</li>
            <li>Computer Graphics Forum 2022, 2023, 2025</li>
            <li>IEEE Transactions on Robotics 2026</li>
        </ul>
    </div>
</div>
